{% extends 'base.html'%}
{% block content %} 

<div class = "container">
<div class = "row">
    <div class = "col s8">
        <h4>Feedback</h4>
        <p> Thanks for checking out AotyHelper.net. Let me know what you think! Give me any feedback on the design, features, what you want to see, whatever!</p>

        <br>
        <form action='' method ="post">
            {% csrf_token %}
            <h6>Please select a category</h6>
            {{feedback_form.category}}

            <h6>Your Comments:</h6>
            {{ feedback_form.feedback_text }}
            <input type="submit", value="Submit">
        </form>
    </div>
</div>
</div>

{% endblock %}